<p>file collection {{uploadProgress}}</p>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{uploadProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProgress}}%;">
        <span class="sr-only">{{uploadProgress}}% Complete</span>
    </div>
</div>


<table>
    <thead>
    <tr>
        <th>Some Column</th>
        <th>Another Column</th>
        <th>Still More</th>
    </tr>
    </thead>

    <!-- want to insert collection children, here -->
    <tbody></tbody>

    <tfoot>
    <tr>
        <td colspan="3">some footer information</td>
    </tr>
    </tfoot>
</table>