<!--<div>
<h3>Upload Form</h3>
<div id="status"></div>


<ul id="filelist"></ul>
<br />

<div id="container">
    <a id="browse" href="javascript:;">[Browse...]</a>
    <a id="start-upload" href="javascript:;">[Start Upload]</a>
</div>
<br />
<pre id="console"></pre>

</div>-->

<div id="pluploadcontainer">


<div id="file-drop"></div>
<div class="message"></div>
<div id="filelist"></div>
<div class="progress progress-striped active">
    <div class="bar" style="width: 0%;"></div>
</div>


<button id="file-select" class="btn btn-primary">Select File</button>
<button id="file-upload" class="btn btn-primary">Upload</button>

</div>
